h1{
    padding: 20px 10px 20px 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: $color-celeste;
    text-align: center;
    
}

@media (max-width:576px) {
    h1{
        font-size: 15px;
    }
}

.carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px 50px 50px;
    margin: 30px;
    
    img{
        border: solid 20px #EEF1FF;
        background-color: #EEF1FF;
    }
}