footer{
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    ul li{
        list-style-type: none;

        a{
            font-family: 'Bebas Neue', cursive;;
            font-size: 16px;
            color: $color-azul;
            text-decoration: none;
    
        }


    }


}