//BARRA DE NAVEGACION//

.container-fluid{
    padding: 10px;
    border: 10px;
    text-align: right;
    background-color: #947EC3;


    .navbar-brand{
        font-size: 30px;
        font-weight: 300;
        font-family: 'Bebas Neue', cursive;
    }

    ul li{
        list-style-type: none;
        display: inline-block;
        
    
        a{
            font-family: 'Bebas Neue', cursive;
            color: $color-fondo;
            text-decoration: none;
        }
    }
}




