@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Noticias{
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 300px 300px 300px;
    padding: 30px;

    .imagesNoticias{
        @include flex-column-center;
        padding: 5px ;
        margin: 5px; 
        transition: all 2s;

        &:hover{
            transform: scale(1.2);
        }

        img{
            width: 350px;
            height: 200px;
            border-radius: 20px
        }
        ul li{
            list-style-type: none;
            align-items: center;
            text-align: center;

            a{
                padding: 5px;
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                color: $color-celeste;
                text-decoration:underline;
                
            }
    
    
        }
    }
    @media (max-width:900px) {
        display:grid;
        grid-template-columns:auto;
    }
    @media (max-width:476px) {
            
        img{
        display: none;
        }
        a{
            font-size: 10px;
            }
        }
    }