.imagesParks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10 px 10 px 10 px 15px;
    margin: 20px;
    background-color: #EEF1FF;
    transition: all 2s;

    &:hover{
        transform: scale(1.03);
    }
    
    img{
        border-radius: 20px;
    }

    p{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        font-family: 'Montserrat', sans-serif;;
        font-size: 14px;
        font-weight: 600;
        line-height: 45px;
        text-align: left;
        color: black;
    
        span{
            color: $color-celeste;
            font-size: 20px;
        }
    }
    @media (max-width:900px) {
        img{
            display:none;
        }
        
    }
    @media (max-width:576px) {
        p{
            font-size: 10px;
        }
        span{
            font-size: 12px;
        }
    }

}