@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F1F0C0;
}

.container-fluid {
  padding: 10px;
  border: 10px;
  text-align: right;
  background-color: #947EC3;
}
.container-fluid .navbar-brand {
  font-size: 30px;
  font-weight: 300;
  font-family: "Bebas Neue", cursive;
}
.container-fluid ul li {
  list-style-type: none;
  display: inline-block;
}
.container-fluid ul li a {
  font-family: "Bebas Neue", cursive;
  color: #F1F0C0;
  text-decoration: none;
}

.introduction {
  display: grid;
  grid-template-columns: 600px 500px;
  padding: 0px;
  border: none;
  margin: 20px 5px 40px 5px;
}
.introduction p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: #6e6288;
}
.introduction p span {
  font-style: italic;
  color: #6A67CE;
}
.introduction iframe {
  display: flex;
  justify-content: center;
  padding: 30px;
  border: 3px solid #947EC3;
  margin: 180px 20px 20px 50px;
  background-color: #B689C0;
}

.parks {
  display: grid;
  grid-template-columns: 430px 430px 430px;
  grid-template-rows: 300px 300px 300px;
  padding: 40px;
}
.parks .imagesInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 40px;
  transition: all 2s;
}
.parks .imagesInicio:hover {
  transform: scale(1.2);
}
.parks .imagesInicio img {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}
.parks .imagesInicio h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #6A67CE;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}
.parks .imagesInicio h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #6A67CE;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
}

footer {
  padding-top: 80px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  color: #6A67CE;
  text-decoration: none;
}

.Noticias {
  display: grid;
  grid-template-columns: 430px 430px 430px;
  grid-template-rows: 300px 300px 300px;
  padding: 40px;
}
.Noticias .imagesNoticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 40px;
  transition: all 2s;
}
.Noticias .imagesNoticias:hover {
  transform: scale(1.2);
}
.Noticias .imagesNoticias img {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}
.Noticias .imagesNoticias ul li {
  list-style-type: none;
  align-items: center;
  text-align: center;
}
.Noticias .imagesNoticias ul li a {
  padding: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: blueviolet;
  text-decoration: underline;
}

.imagesParks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10 px 10 px 10 px 15px;
  margin: 20px;
}
.imagesParks p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: #6e6288;
}
.imagesParks p span {
  font-style: italic;
  color: #6A67CE;
}

h1 {
  padding: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;
  color: #6A67CE;
}

.carousel-item {
  padding: 50px;
  margin: 0px 10px 100px 10px;
}
.carousel-item img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  height: 500px;
}
.carousel-item h5 {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: #F1F0C0;
}

.activities {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  text-align: center;
  color: #c0c5f1;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 50px 50px;
  border: inset 3px #C689C6;
  margin: 100px 300px 100px 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #937DC2;
  background-color: #FCC5C0;
}
.contact .contactTwo {
  padding: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  text-align: center;
  color: #937DC2;
}/*# sourceMappingURL=estilos.css.map */