@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&display=swap');


*{
    padding:0;
    margin:0;
}

body{
    background-color: #F1F0C0
}

header{
    padding: 10px;
    border:none;
    margin: 0px 0px 50px 0px;
    background-image: url(../images/fondo.jpg)

}

h1{
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: left;
    letter-spacing: 2px;
    color: #6e6288;

}

nav{
    padding: 10px;
    border: 10px;
    margin: 40px 5px 0px 5px;
    text-align: right;
}



a{
    font-family: 'Bebas Neue', cursive;
    color: #947EC3;
    text-decoration: none;
}

ul li{
    list-style-type: none;
    display: inline-block;
}


.introduction{
    display: grid;
    grid-template-columns: 600px 500px;
    padding: 0px;
    border: none;
    margin: 20px 5px 40px 5px;
}

iframe{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 3px solid #947EC3;
    margin: 180px 20px 20px 50px;
    background-color: #B689C0;
}

p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
    color: #6e6288;

}

span{
    font-style: italic;
    color: #6A67CE;


}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6A67CE;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6A67CE;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
}

img{
    width: 350px;
    height: 200px;
    border-radius: 20px
}

.imagesInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px ;
    margin: 40px; 
    transition: all 2s;
}

.imagesInicio:hover{
    transform: scale(1.2);
}

.parks{
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 300px 300px 300px;
    padding: 40px;
}

footer{
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 50px 50px ;
    border: inset 3px #C689C6;
    margin: 100px 300px 100px 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #937DC2;
    background-color: #FCC5C0;
}

.contactTwo{
    padding: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
    color: #937DC2;
}